body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  /* background: mediumaquamarine; */
  background: linear-gradient(45deg, red, blue);
  background: linear-gradient(left, rgba(7,27,82,1) 0%, rgba(0,128,1) 100%);
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
